body {
background-color: darkolivegreen;
text-align: center;
color: gold;
}
#submit_button{
    background-color: steelblue;
}
#sort_button{
    background-color: steelblue;
}
#Pizza{
background-color: darkolivegreen;
}